<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список сообщений</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<form th:method="GET" th:action="@{/main}">
    <label for="tag" >Укажите тэг:</label>
    <input type="text" id="tag" name="tag" th:value="${tag}">
    <br/>
    <input type="submit" value="Поиск">
</form>

<div th:if="${messages.isEmpty()}">
    <hr/>
    <p>Человек пока ничего не написал</p>
    <hr/>
</div>

<div th:if="${!messages.isEmpty()}">
    <hr/>
    <b>Сообщения:</b>
    <br/>
    <table th:each="message : ${messages}">
        <a th:text="${message.getId()}">id</a>
        <br/>
        <a th:text="${message.getText()}">text</a>
        <br/>
        <a th:text="${message.getTag()}">tag</a>
        <br/>
        <a th:text="${message.getAuthorName()}">author</a>

        <div th:if="${message.getFilename() != null}">
        <img th:src="@{/img/{filename}(filename=${message.getFilename()})}">
            </div>

    </table>

    <hr/>
</div>

<a href="/new_message">Добавить новое сообщение</a>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<a href="/user">Список пользователей</a>

</body>
</html>