<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Новое сообщение</title>
</head>
<body>

<form th:method="POST" th:action="@{/new_message}" th:object="${message}"
  enctype="multipart/form-data">
  <label for="text" >Введите новое сообщение:</label>
  <br/>
  <input type="text" th:field="*{text}" id="text"/>

  <input type="file" name="file" id="file"/>

  <br/>
  <label for="tag" >Тэг:</label>
  <br/>
  <input type="text" th:field="*{tag}" id="tag"/>

  <br/>

  <input type="submit" value="Отправить">
</form>
<br/>
<a href="/main">На главную страницу</a>

</body>
</html>